{{!-- {{yield}} --}}
<div class="container-component" style="height: 80vh;"><!-- temporary value-->
  <!-- Use some conditional statements to see if there is any data in this window -->
  
  <button {{action "callMade" bubbles=false}}>Test</button>
  <div id="popoverContainer" hidden><PopoverCard/></div>
  {{this.model}}


  <!-- SAMPLE MOVIE CARD UI -->
  <table class="movie-collection-table disableBlur" border="0" cellpadding="0">
    <tr>
      <td>
        <MovieCard @imageURL="http://www.gstatic.com/tv/thumb/v22vodart/173378/p173378_v_v8_at.jpg" @movieTitle="The Dark Knight"/>
      </td>
      <td>
        <MovieCard @imageURL="https://d2o1nr2nayhfv9.cloudfront.net/keyart-jpeg/tv/media/browser/GothamS5_2000x3000.jpeg"  @movieTitle="Gotham"/>
      </td>
      <td>
        <MovieCard @imageURL="https://cdn.flickeringmyth.com/wp-content/uploads/2019/09/joker-movie-poster-600x889.png" @movieTitle="Joker"/>
      </td>
    </tr>
  </table>




</div>