{{!-- {{yield}} --}}
<div class="card latoFont">
  <div class="inner-card_content">
    <img draggable="false" class="size_d" src={{this.imageURL}}/>
    <h3>{{this.movieTitle}}</h3>
    <button class="pop_card_button latoFont">Details</button>
  </div>
</div>