{{!-- {{yield}} --}}
<div class="container-component" style="height: 80vh;"><!-- temporary value-->
  <!-- Use some conditional statements to see if there is any data in this window -->
  
  <button {{action "callMade" bubbles=false}}>Test</button>
  <div id="popoverContainer" hidden><PopoverCard/></div>
  {{this.model}}


  <!-- SAMPLE MOVIE CARD UI -->
  <table class="movie-collection-table" border="0" cellpadding="0">
    <tr>
      <td>
        <MovieCard @imageURL="" @movieTitle="The Dark Knight"/>
      </td>
      <td>
        <MovieCard  @movieTitle="Harold & Kumar"/>
      </td>
      <td>
        <MovieCard @movieTitle="Mr. Robot"/>
      </td>
    </tr>
  </table>




</div>