* {
  padding: 0;
  margin: 0;
}

.container {
  /* background-color: #F6F7F3; */
}

.hide {
  display: none;
}

.polkadotMovie {
  background-color: #0D0B2F;
  background-image:
    radial-gradient(#0F0D35 25%, transparent 0), 
    radial-gradient(#0F0D35 25%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.polkadotMovie--white {
  background-color: #fff;
  background-image:
    radial-gradient(#fbfbfb 25%, transparent 0), 
    radial-gradient(#fbfbfb 25%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}

.navigationbar {
  background-color: #ff1a41;
  /* border-bottom: 5px solid #F3C13A; */
}
/* Align both elements horizontlly together next to each other */
.navigationbar > .innerElements {
 display: flex;
}

.navigationbar .logocontainer img{
  padding: 20px;
  height: 60px;
  width: 60px;
}

.navigationbar .navigationLinks, .navigationSearchBar {
  padding: 30px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  font-family: 'Lato', sans-serif;
}

nav a {
  display: inline;
  text-decoration: none;
  color: #fff;
}

.flixlogo {
  display: flex;
}

.button--search {
  border:none;
  height: 40px;
  width: 100px;
  background-color: #E5173A;
  padding: 9px;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
  outline: none;
}
.button--search:hover {
  transition: all 0.1s ease-in;
  background-color: #A01028;
}
/*Nove these styles outside this file*/
.searchbox {
  border-radius: 3px;
  height: 33px;
  font-size: 23px;
  max-width: 600px;
  width: 600px;
  border: none;
  font-family: 'Lato', sans-serif;
}

.searchbox--navigation {
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  font-size: 20px;
  max-width: 600px;
  width: 600px;
  border: none;
  padding: 8px;
  vertical-align: bottom;
  outline: none;
}


/*Container component*/ 
.container-component {
  padding: 25px;
  margin-top: 50px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 80%!important;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 0 #d9d9d9;
}


/* Movie card Styles */
.movie-collection-table  {

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* padding: 10px;  */
  border: 1px solid red;
}

.movie-collection-table > tr {
  border: 1px solid blue;
}

.movie-collection-table tr td {
  text-align: center;
}


.card {
  text-align: center;
  width: 80%;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  padding: 15px;

} 

div .inner-card_content {
  
  width: 100%;
  border: 1px solid green;
}
