{{!-- All Components will be put in place here --}}
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<!-- main document body -->
<div class="container">
  <div class="navigationbar polkadotMovie">
  <!-- logo container -->
    <div class="innerElements">
      <div class="logocontainer">
          <img src='assets/images/flix_logo.png'/>
      </div>
       <div class="navigationSearchBar">
         <form><Input class="searchbox--navigation" type="text" placeholder="Movie Search"/>
         <Input class="button--search" type="button" value="Search"/>
         </form>
      </div>
      <div class="navigationLinks">
        <nav class="hide">
          <ul><li><a href="">Link</a></li></ul>
          <ul><li><a href="">Link</a></li></ul>
        </nav>
        {{!--{{#nav-link-to "index"}}Home{{/nav-link-to}} --}}
      </div>
    </div>
        <!-- res of the navigation container --> 
  </div>
</div>


{{outlet}}